body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#output-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-class {
  z-index: 999;
  position: absolute;

  height: 50px;
  width: 100px;
  font-size: 1.5em;
}

.select-menu {
  position: absolute;
  top: 20px;
  z-index: 100;
  height: 50px;
}

.select-menu>select {
  max-width: 200px;
  height: 100%;
  font-size: 1.5em;
}

.flamingo-logo {
  width: 100%;
  position: absolute;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flamingo-logo>img {
  width: 300px;
}

.poweredbysnap-logo {
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.poweredbysnap-logo>img {
  width: 75px;
  opacity: 0.5;
}

#flip {
  z-index: 1;
}

.reverse-cam {
  position: absolute;
  bottom: 1px;
  right: 1px;
  scale: 0.5;
  z-index: 1;
}

* {
  touch-action: manipulation;
}

#intro-bg {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-image: url("../assets/blur-bg.png");
  ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#intro-card {
  width: 80%;
  height: auto;
  
  /* background-color: red; */
  /* -webkit-box-shadow:0px 0px 48px 6px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 48px 6px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 48px 6px rgba(0,0,0,0.9); */
}

#intro-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
 
}

/* CSS */
.button-1 {
  background-color: #f06b5b;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}


